/*====================================
        Author: Mark Jankovec

        DEFAULT VALUES:

        Font Family: Roboto Condensed

=====================================*/

/* Coolors Exported Palette - coolors.co/fcba04-a50104-590004-250001-f3f3f3 */

/* General properties */

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    color: #250001;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #250001;
    text-transform: uppercase;
}

#matrixcode {
    background: #000;
}


/* ============= Home Section ===============*/

#mp3-player {
    vertical-align: middle
}


#homepage {
    height: 100%;
}

#cover-pic {
    height: 100%;
    background-image: url("../images/chicago-skyline.jpg");
}

#cover-box {
    width: 100%;
    height: 100%;
    display: table;
}

#button-row {
    width: 35%;
}

#cover-pic-inner {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

#cover-heading h3 {
    color: #250001;
    font-size: 50px;
    font-weight: 700
}


#this-blocker {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9999;
  background-color:black;
  color:white;
  padding:10% 0;
  text-align:center;
}


/* =============  General parallax =============== */

#button-row {
    animation-delay: .9s;
    animation-duration: .5s;
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* =============  Animation =============== */

#cover-heading {
    animation-delay: .5s;
    animation-duration: .5s;
}

#cover-pic {
    animation-delay: .1s;
    animation-duration: .5s;
}

/* =============  Heading =============== */
.content-box {
    padding: 60px 0 60px 0;
}

#snippet pre{
    margin 0;
}

#snippet {
    padding: 1em;
    border-width: 1px;
}

#snippet pre code {
    display: block;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}


.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-underline {
    width: 100px;
    height: 3px;
    background-color: #a50104;
    margin: 0 auto 30px auto;
}
/* =============  Projects =============== */
.project-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.project-icon {
    color: #a50104;
    float: left;
    padding: 15px;
    margin-right: 15px;
    width: 75px;
    height: 75px;
}

.project-item:hover .project-icon i {
    color: #f3f3f3;
    background-color: #a50104
}

.project-item-title h3 {
    font-size 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.project-item-desc p {
    margin: 0;
    padding-left: 85px;
}

